<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<string>Check out Texting 1-2-3 iPhone app. The safest way to send your most common text messages.</string>
		<string>Running late. Be there ASAP.</string>
		<string>Driving. Can&apos;t respond right now.</string>
		<string>On my way.</string>
		<string>Call you later.</string>
	</array>
</dict>
</plist>
